<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}BHM{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ static('logo.ico') }}">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    </head>
    <style>
        .fade-out {
            opacity: 0;
            animation: fade-out .5s ease-in-out;
        }

        @keyframes fade-out {
            0% {
                opacity: 1;
            }

            100% {
                opacity: 0;
                opacity: 0;
                height: 0;
                margin: 0;
                padding: 0;
            }
        }

        input.larger {
            width: 25px;
            height: 25px;
        }
    </style>


    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="dropdown-item" href="/">New Job</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="/started_jobs">Current Jobs</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="/completed_jobs">Completed Jobs</a>
                        </li>
                    </ul>
                    {% if request.user.is_superuser %}
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="/admin">Admin</a>
                            </li>
                        </ul>
                    {% endif %}
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="/auth/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container my-4">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" style="max-width: 400px;">
                {{ message }}
            </div>
            {% endfor %}
            <script>
                {% for message in messages %}
                var alert = document.querySelector('.alert-{{ message.tags }}');
                setTimeout(function () {
                    alert.classList.add('fade-out');
                    alert.addEventListener('animationend', function () {
                        alert.remove();
                    });
                }, 2000);
                {% endfor %}
            </script>
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>

        <!-- Bootstrap JS and jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            function checkScreenWidth() {
                // Adjust the desciption 
                var screenWidth = window.innerWidth;
                var descriptionTds = document.getElementsByClassName("description");
                var miniDescriptionTds = document.getElementsByClassName("mini-description");

                // Loop through description tds and hide/show based on screen size
                for (var i = 0; i < descriptionTds.length; i++) {
                    if (screenWidth > 768) { // Show description td on desktop
                    descriptionTds[i].style.display = "table-cell";
                    } else { // Hide description td on mobile
                    descriptionTds[i].style.display = "none";
                    }
                }

                // Loop through mini-description tds and hide/show based on screen size
                for (var i = 0; i < miniDescriptionTds.length; i++) {
                    if (screenWidth <= 768) { // Show mini-description td on mobile
                    miniDescriptionTds[i].style.display = "table-cell";
                    } else { // Hide mini-description td on desktop
                    miniDescriptionTds[i].style.display = "none";
                    }
                }
            }
            window.onload = checkScreenWidth;
            window.onresize = checkScreenWidth;
        </script>
    </body>

</html>
