{% from 'macros.jinja' import render_description %}
{% extends 'base.jinja' %}

{% block content %}
<div class="container">
  <h1>Completed Jobs</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th style="min-width: 15vh;">Name</th>
        {% if request.user.is_superuser %}
        <th>User</th>
        {% endif %}
        <th>Client</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody>
      {% for job in completed_jobs %}
      <tr class="click-row" data-href="/job_summary/{{job.pk}}">
        <td>{{ job.started_job.job.name }}</td>
        {% if request.user.is_superuser %}
        <td>{{ job.user }}</td>
        {% endif %}
        <td>{{job.started_job.client}}</td>
        <td>{{localtime(job.created_at).strftime('%Y-%m-%d %H:%M') }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  const rows = document.querySelectorAll('.click-row');
  rows.forEach(row => {
    row.addEventListener('click', () => {
      window.location = row.getAttribute('data-href');
    });
  });
</script>
{% endblock %}
