{% macro render_description(job_item) %}
<td class="description">{{ job_item.description|wordwrap()|replace("\n", "<br>")|safe}}</td>
<td style="text-align: center;" class="mini-description mobile">
<link rel="icon" type="image/svg+xml" href="favicon.svg" />
<img width="20" height="20" src="{{ static('question.svg') }}" data-bs-toggle="modal" data-bs-target="#jobItemModal-{{ job_item.id }}" data-job-item="{{ job_item.id }}" />
</td>
<div class="modal fade" id="jobItemModal-{{ job_item.id }}" tabindex="-1" aria-labelledby="jobItemModalLabel-{{ job_item.id }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="jobItemModalLabel-{{ job_item.id }}">{{ job_item.name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ job_item.description|wordwrap()|replace("\n", "<br>")|safe}}
      </div>
    </div>
  </div>
</div>
{% endmacro %}
