{% from 'macros.jinja' import render_description %}
{% extends 'base.jinja' %}

{% block content %}
<div class="container">
  <h1>Current Jobs</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th style="min-width: 15vh;">Name</th>
        <th>Client</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
      <tr class="click-row" data-href="/jobs/{{job.pk}}">
        <td style="min-width: 15vh;">{{ job.job.name }}</td>
        <td>{{job.client }}</td>
        <td>
          <a href="/delete_job/{{job.pk}}" class="btn btn-sm btn-danger">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  const rows = document.querySelectorAll('.click-row');
  rows.forEach(row => {
    row.addEventListener('click', () => {
      window.location = row.getAttribute('data-href');
    });
  });
</script>
{% endblock %}
