{% extends "base.jinja" %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Login</h4>
          </div>
          <div class="card-body">
            {% if request.user.is_authenticated %}
                <div class="alert alert-warning" role="alert">
                You are already logged in as {{ request.user.username }}.
                </div>
            {% else %}
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>Oops!</strong> Your username and password didn't match. Please try again.
                </div>
                {% endif %}
                <form method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div class="login form-group" style="margin-bottom: 10px;" >
                    Name
                    {{ form.username }}
                </div>
                <div class="login form-group" style="margin-bottom: 10px;" >
                    {{ form.password.label }}
                    {{ form.password }}
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    let logged_in = {{request.user.is_authenticated|safe|tojson}}
    if (logged_in == "True"){
      window.location = "/"
    };
  </script>
{% endblock %}
